{% extends 'base.html' %}
{% load static %}
{% block body %}
    <main>
        <h2>Postagens</h2>
        {% for post in posts %}
            <article class="post">
                <h3>
                    {{ post.title }}
                </h3>
                <p class="post-text">
                    {{ post.text }}
                </p>
                <div class="post-info">
                    <span>Criado por: {{ post.author }}</span>
                    <span>{{ post.created_date }}</span>
                </div>
            </article>    
        {% endfor %}
    </main>

{% endblock %}