body {
    background-color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

#logo-citi {
    width: 60px;
    margin-right: 50px;
}

h1 {
    display: inline-block;
    margin-left: 20px;
}

header {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    justify-content: space-between;
}

header > div {
    display: flex;
    align-items: center;
    margin: 0 50px;
}

.navbar-titulo {
    text-decoration: none;
    padding-left:10px;
    color: black; 
    transition: 0.1s color;
}

a:hover {
    color: green;
}

h2 {
    margin: 50px;
}

article {
    margin: 50px;
    padding: 15px;
    border-top: 2px solid #51e678;
}

article > h3 {
    margin: 10px 0;
}

.post-info {
    display: flex;
    flex-wrap: wrap;
}

.post-info > span {
    width:100%;
    font-size: 0.9em;
    color: rgb(70, 70, 70);
}